*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}   
.choice {
height: 145px;
width: 145px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}
#paper{
    position: relative;
    top: 12px;
}
.choice:hover {
   opacity: 0.5;
    cursor: pointer;
    background-color: #f1f4f7;
    

}
img{
    height: 150px;
    width : 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
padding:1 rem ;
border-radius: 0.5rem;
}
